*{
    margin: 0;
    padding: 0;
    border: 0;
}
.jumbotron{
    background-color:blue;
    color: white;
    margin-top: 56px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(197, 13, 13);
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-product{
    flex: 1 250px;
    margin-top: 10px;
}
.btn-compra{
    width: 100%;
    border-radius: 0px;
}
.foooter-addres-icon{
    padding-right: 10px;
}
.tab-content{
    margin-top: 10px;
}
.info-carousel{
    margin-bottom: 100px;
}
.imagen-carousel{
    width: 900px;
    height: 470px;
}