.jumbotron {
    background-color: blue;
    color: white;
    margin-top: 56px; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: #c50d0d;
    margin-bottom: 0px;
    margin-top: 10px; }
  
  .card-product {
    flex: 1 250px;
    margin-top: 10px; }
  
  .btn-compra {
    width: 100%;
    border-radius: 0px; }
  
  .foooter-addres-icon {
    padding-right: 10px; }
  
  .tab-content {
    margin-top: 10px; }
  