$blue:#1b00ff;
$red: #dc1010;
@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.jumbotron{
    background-color:$blue;
    color: white;
    @include margenes(50px,0px );
}

footer{
    padding: 10px 10px 0 10px;
    background-color:$red;
    @include margenes(0px,10px );
}
.card-product{
    flex: 1 250px;
    @include margenes(10px,0px );
}
.btn-compra{
    width: 100%;
    border-radius: 0px;
}
.foooter-addres-icon{
    padding-right: 10px;
}
.tab-content{
    @include margenes(10px,0px );
}
.info-carousel{
    margin-bottom: 100px;
}
.imagen-carousel{
    width: 900px;
    height: 470px;
}